
    <div class="col-md-4"> 
        <span class= "label label-default" > Provincias : </span >
        <select class="custom-select">
             <option selected>Todas</option>
        </select>
    </div >
    <div class="col-md-4">
        <span class="label label-default">Ciudad : </span>
        <select class="custom-select">
                <option selected>Todas</option>
        </select>
    </div>
    <div class="col-md-4">
       <span class="label label-default">Carrera : </span> 
        <select class="custom-select">
            <option selected>Todas</option>
        </select>
    </div>
