<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" rel="stylesheet" >
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="/stylesheets/estilos-iaw-1.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-social.css" rel="stylesheet">
  </head>
  <body>
    {% block body %}{% endblock %}
     {% block scripts %}{% endblock %}
  </body>
</html>
