<nav class="navbar static-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Mapoteca</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline mx-auto">
				<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				
			</form>
		
			<ul class="navbar-nav">
			<!-- Proxima entrega
				 <li  class="nav-item">
				 	<button onclick="mostrarFiltros()" class="btn btn-primary"><i class="fas fa-filter"></i> Filtrar </button>
					  </li>
			-->
        {% if user %}
            <li class="nav-item">
					<a class="userDisplay" href="/logout">
                {% if user.photos[0].value %}
                    <img src={{user.photos[0].value }} style="width: 40px;"alt="Desloguearse">
				{% else %}
					 {{user.displayName}}
                {% endif %}
					</a>
               
            </li>
        {% else %}
            <li class="nav-item">
				<a role="button" class="btn btn-primary" href="/login"><i class="fas fa-sign-in-alt"></i> Ingresar</a>
			</li>
        	<li class="nav-item">
				<a role="button" class="btn btn-primary" href="/register"><i class="fas fa-user-plus"></i> Registrarse</a>
        	</li>
        {% endif %}
				
			</ul>
		</div>
</nav>