{% extends 'idex.twig' %}

{% block user %}
<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-user"></i> Ingresar</a>
				</li>
</ul>
{% endblock %}